div.gui-container {
  position: absolute;
  z-index: 1;

  div.dg.main {
    @include set-gui-width;

    div.dg {
      @include set-gui-font(1.5625);

      background-color: black;
    }

    li.folder {
      ul {
        li.title {
          @include set-height-and-lineHeight(3.125);

          background: none;
          padding-top: 0.625rem;
          padding-left: 0.75rem;
        }

        &:not(.closed) {
          li {
            &.cr.number.has-slider {
              @include set-height-and-lineHeight(3.125);

              span {
                margin-top: 0.25rem;
                margin-left: 2%;
                width: 38%;
              }

              div.c {
                pointer-events: none;

                div:not(.slider) {
                  margin-top: 0.125rem;

                  input {
                    @include set-gui-font(1.5625);

                    width: 100%;
                    padding-top: 0.5rem;
                    text-align: center;
                    color: purple;
                  }
                }

                div.slider {
                  @include set-height-and-lineHeight(0);
                }
              }
            }
          }
        }

        &.closed li:not(.title) {
          height: 0;
          overflow: hidden;
          border: 0;
        }
      }
    }

    div.close-button.close-bottom {
      @include set-gui-width;
      @include set-gui-font(1.375);
      @include set-height-and-lineHeight(3.125);

      background-color: black;
    }
  }
}
